@use '../abstracts' as a;

.btn {
    all: unset;
    color: white;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 162%;
    padding: 1.05em 2.5em .95em;
    border-radius: 2.9rem;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
    
    span {
        margin-left: .126em;
    }
}

.btn-1 {
    background-color: var(--teal);
    
    span {
        color: var(--cyan);
    }
    
    &:hover {
        background-color: var(--light-teal);
    }
}

.btn-2 {
    background-color: var(--violet);

    span {
        color: var(--lavender);
    }

    &:hover {
        background-color: var(--light-violet);
    }

    @include a.breakpoint(tablet) {
        padding: 1.054em 2.5075em .953em;
    }
}