:root {
    --teal: hsl(192, 37%, 48%);
    --light-teal: hsl(192, 54%, 64%);
    --violet: hsl(268, 34%, 53%);
    --light-violet: hsl(268, 55%, 71%);
    --black: hsl(240, 21%, 20%);
    --gray: hsl(240, 10%, 57%);
    --transparent-gray: hsla(240, 10%, 57%, .25);
    --cyan: hsl(192, 90%, 77%);
    --lavender: hsl(268, 100%, 86%);
    --white: hsl(0, 0%, 98%);
}